/* Corpo da página */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body.dark {
    background-color: #010f1e;
}

body {
    overflow-x: hidden;
    padding: 0%;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #3d405b;
    transition: .5s;
    
    
}
.trilho {
    left:88%;
    top: 5%;
    width: 55px;
    height: 25px;
    background-color: #4d4d4d;
    position: absolute;
    border-radius: 150px;
    cursor: pointer;
    z-index: 999;
    place-self: center;
}

.trilho .indicador {
    width: 25px;
    height: 25px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: .5s;
}

.trilho.dark {
    background-color: #a2a2a2;
}

.trilho.dark .indicador {
    left: 29px;
    background-color: #fff;
}


.dark #modos_telas {
    left: 3000px;

}

header {
    background-color: #a9b3ce;
    font-family: initial;
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    transform: scale(0.7);
    /* 80% do tamanho original */
    transform-origin: top left;
    height: 85px;
    border-radius: 15px;
    padding: 13px;
    position: absolute;
    top: 0.6vh;
    left: 0.2vw;
}

#palavras_aleatorias {
    font-size: 25px;
    font-family: "Source Code Pro", monospace;
    position: fixed;
    top: 21.4vh;
    width: 45%;
    margin: 20px auto;
    background-color: #a9b3ce;
    padding: 15px;
    border-radius: 10px;
    color: white;
    place-items: center;
    justify-self: center; 
    align-self: center;    
    place-self: center;


}

.dark#palavras_aleatorias {
    background-color: #02182f;
    color: #ffffff;
}

#key {
    font-size: 25px;
    font-family: cursive;
    position: fixed;
    top: 42.8vh;
    width: 699px;
    height: 270px;
    text-align: center;
    background-color: #a9b3ce;
    padding: 15px;
    color: white;
    z-index: 999;
    border: 1px solid rgb(0, 0, 0);
    grid-column: 2;
    grid-row: 2;   
    place-self: center;
}

.dark#key {
    background-color: #02182f;
    border: 1px solid rgb(255, 255, 255);
}

#keybord {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    position: relative;
    top: 5px;
    left: 2px;
}

nav {
    background-color: #a9b3ce;
    position: absolute;
    top: 26.2vh;
    left: 91vw;
    width: 150px;
    height: 250px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1px;
    justify-items: stretch;
    border-radius: 30px;
    margin: 0.1vh;
    
}

.dark#opcao {
    background-color: #8f9ece;
}

.cbutton {
    background-color: #a9b3ce;
    color: #fff;
    border: #a9b3ce;
    cursor: pointer;
}

.dark.cbutton {
    background-color: #8f9ece;
}

/*mudar a cor das opções qundo clica*/
.cbutton.clicked {
    background-color: #ffffff;
    color: #000000;
}

#coteudos {
    position: absolute;
    left: 88.95vw;
    top: 21.4vh;
    font-family: initial;
    font-size: 30px;
    color: #ffffff;
    background-color: #a9b3ce;
    width: 190px;
    text-align: center;
    border-radius: 0px 10px;
    padding: 5px;
    box-shadow: -10px -10px 0px;
}


#coteudos.dark {
    background-color: #8f9ece;
}

/* opção de keys bords */
#optionkey {
    position: absolute;
    left: 91.02vw;
    top: 53.1vh;;
    text-align: center;
    font-family: initial;
    font-size: 20px;
    color: white;
    background-color: #a9b3ce;
    width: 150px;
    cursor: pointer;
    margin-top:1px;
   
    
}
#optionkey:hover{
    background-color: #abbcea;
}

.custom-option {
    background-color: #a9b3ce;
    color: white;
    text-align: left;
    position: relative;
    margin: 0px;
    margin-left: 0%;
    font-size: 18px;
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 15px;
    font-family: initial;
    cursor: pointer;
    justify-items: stretch;
    display: grid;
    grid-template-columns: 1fr;
    cursor: pointer;
    border: 1px solid #c8d3f4 ;
    
}

.custom-option.dark {
    background-color: #8f9ece;
    color: white;
    border-color: #8f9ece;
}

#optionkey.dark {
    background-color: #8f9ece;
    box-shadow: 0px 0px 0px #8f9ece;
}

#op1.catalagokey {
    background-color: #ffffff;
    color: black;
    cursor: pointer;
}

#op2.catalagokey {
    background-color: #ffffff;
    color: black;
    cursor: pointer;
}

#op3.catalagokey {
    background-color: #ffffff;
    color: black;
    cursor: pointer;
}

#op4.catalagokey {
    background-color: #ffffff;
    color: black;
    cursor: pointer;
}

#op5.catalagokey {
    background-color: #ffffff;
    color: black;
    cursor: pointer;
}

#op6.catalagokey {
    background-color: #ffffff;
    color: black;
    cursor: pointer;
}

/* teste */
.custom-options-container {
    display: none;
    transition: all 0.3s ease;
    /* só pra ficar mais chique */
}

.custom-options-container.show {
    display: block;
}

.bandeira {
    display: inline-block;
    background-color: #fff;
    width: 28px;
    height: 18px;
    position: relative;
    left: -51px;
    top: -20px;
    border: 1px solid #ccc;
    vertical-align: middle;
    margin-left: 5px;
}

#us {
    background:
        linear-gradient(to bottom, #0a3161 0%, #0a3161 100%) top left / 40% 60% no-repeat,
        repeating-linear-gradient(to bottom,
            #B22234 0px,
            #B22234 3.846px,
            #FFFFFF 3.846px,
            #FFFFFF 7.692px);
}

#br {
    background-color: #009440;
    position: relative;
    overflow: hidden;
}

#br::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFCB00;
    clip-path: polygon(50% 0%,
            100% 50%,
            50% 100%,
            0% 50%);
    transform: scale(0.8);
}

#fr {
    background-image: linear-gradient(to right,
            #002654 33.33%,
            #FFFFFF 33.33%,
            #FFFFFF 66.66%,
            #ED2939 66.66%);
}

#de {
    background-image: linear-gradient(to bottom,
            #000000 33.33%,
            #FFCD00 33.33%,
            #FFCD00 66.66%,
            #DD0000 66.66%);
}

a#github {
    position: fixed;
    top: 74vh;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    place-self: center;
}
a#github:hover{
    color: rgb(243, 243, 135);
}

#keybord {
    font-family: sans-serif;
    font-size: 20px;
    color: white;
}

/*responsividade de talas*/
@media (max-width: 1904px) {
    body {
        padding: 20px;
    }


    header {
        top: 0.6vh;
        left: 0.2vw;
        transform: scale(0.75);
    }

#optionkey{
    top:52vh;
    left: 91.05vw;
}

}


@media (max-width: 1800px) {
    body {
        padding: 20px;
    }

    header {
        width: 310px;
        transform: scale(0.75);
    }
   #coteudos{ 
        left: 88.8vw;
        top: 21.4vh;
    }
   #optionkey {
        top:52.03vh;
    }
    
}


@media (max-width: 1664px) {
    body {
        padding: 20px;
    }


    header {
        transform: scale(0.75);
    }

    nav {
    top: 26.2vh;
    left: 90vw;
 
    }

    #optionkey {
    left: 90.1vw;
    top:52.8vh;
    
    

    }

    #coteudos {
    left: 87.7vw;
    top:21.5vh

    }

}

/* Para telas com largura máxima de 1600px */
@media (max-width: 1600px) {
    body {
        padding: 15px;
    }

    header {
        top: 0.7vh;
        left: 0.3vw;
        transform: scale(0.8);
    }

    nav {
    top: 27.2vh;
    left: 89vw;
    }

    #optionkey {
    left: 89.1vw;
    top:58.7vh;
      
    }

    #coteudos {
        left: 86.55vw;

    }


    a#github {
        top: 720px;
    }
}

/* Para telas com largura máxima de 1424px e altura máxima de 805px */
@media (max-width: 1440px) and (max-height: 805px) {

    #keybord {
        width: 35px;
        height: 35px;
        left: -5px;
    }
    header {
        top: 3px;
        left: -42px;
        font-size: 17px;
        transform: scale(0.8);
        transform-origin: top right;
        max-width: 95%;
        width: 220px;
        height: auto;
        margin-bottom: 10px;
    }


    #palavras_aleatorias {
        width: 800px;

    }

    .bandeira {
        width: 25px;
        height: 15px;
        top: -18px;
        left: -48px;
    }

    #coteudos {
    left: 85.5vw;
   
    }
    nav{
        left: 88.26vw;
    }
    #optionkey{
        left: 88.31vw;
    }

    .custom-option{
        height:45px;
        font-size: 15px;
    }
    a#github {
        top: 75vh;
    }
    #key{
        width: 524px;
        height: 202px;
        top: 46vh;
    }
}
